body{
  background-color: gray;
  margin: 0;
  text-align: center;
}

div{
  background-color: orange;

  padding: 20px;
}

h1 {
  width: 10%; /* if a width is set, margin is needed for centring */
  margin: 0 auto 0 auto;
}

.yellow-container {
  height: 150px;
  width: 300px;
  background-color: yellow;
}

.blue-container {
  height: 150px;
  width: 300px;
  background-color: blue;
}
